workflow_8N4Dl77CQLVHxQ3f.json
{
  "updatedAt": "2026-06-30T10:40:12.782Z",
  "createdAt": "2026-06-30T10:14:03.430Z",
  "id": "8N4Dl77CQLVHxQ3f",
  "name": "Ai_chat_voice_agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1UDWt0-Z9fHqwnSNfU3vvhSoYCFG6EG3E-ZewJC_CLq4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UDWt0-Z9fHqwnSNfU3vvhSoYCFG6EG3E-ZewJC_CLq4/edit?usp=drivesdk",
          "cachedResultName": "Sample Marketing Data - n8n"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 365710158,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UDWt0-Z9fHqwnSNfU3vvhSoYCFG6EG3E-ZewJC_CLq4/edit#gid=365710158",
          "cachedResultName": "Data"
        },
        "options": {}
      },
      "id": "948dcf6a-f29e-4666-8067-7c9f4d1dac1a",
      "name": "Analyze Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1376,
        912
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleApi": {
          "id": "fXHzExTwkxRRpEVc",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Talk to Your Data with Google Sheets & OpenAI GPT-5 Mini\nThis n8n workflow template creates an intelligent data analysis chatbot that can answer questions about data stored in Google Sheets using OpenAI's GPT-5 Mini model. The system automatically analyzes your spreadsheet data and provides insights through natural language conversations.\n",
        "height": 1168,
        "width": 1152,
        "color": 7
      },
      "id": "abcdbc53-2327-4eba-8016-f17bd761d8ca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "انت متحدث باللغة العربية وتجاوب على الاسئلة من خلال جوجل شييت و جوجل دوكس"
        }
      },
      "id": "74ffce4c-f323-4f2b-a6c5-f7364b205ffc",
      "name": "Talk to Your Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1296,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "### 3. Ask Questions of Your Data\n\nYou can ask natural language questions to analyze your marketing data, such as:\n- **Total spend** across all campaigns.\n- **Spend for Paid Search only**.\n- **Month-over-month changes** in ad spend.\n- **Top-performing campaigns** by conversion rate.\n- **Cost per lead** for each channel.",
        "height": 432,
        "width": 480,
        "color": 7
      },
      "id": "13117026-c6db-4eaa-9750-244fbedd90b8",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎥 Watch This Tutorial\n\n@[youtube](qsrVPdo6svc)\n\n\n### 1. Set Up OpenAI Connection\n\n#### Get Your API Key\n1. Visit the [OpenAI API Keys](https://platform.openai.com/api-keys) page.\n2. Go to [OpenAI Billing](https://platform.openai.com/settings/organization/billing/overview).\n3. Add funds to your billing account.\n4. Copy your API key into your **OpenAI credentials** in n8n (or your chosen platform).\n\n---\n### 2. Prepare Your Google Sheet\n\n#### Connect Your Data in Google Sheets\n- Data must follow this format: [Sample Marketing Data](https://docs.google.com/spreadsheets/d/1UDWt0-Z9fHqwnSNfU3vvhSoYCFG6EG3E-ZewJC_CLq4/edit?gid=365710158#gid=365710158)\n- **First row** contains column names.\n- Data should be in **rows 2–100**.\n- Log in using **OAuth**, then select your workbook and sheet.\n\n---\n### 3. Ask Questions of Your Data\n\nYou can ask natural language questions to analyze your marketing data, such as:\n- **Total spend** across all campaigns.\n- **Spend for Paid Search only**.\n- **Month-over-month changes** in ad spend.\n- **Top-performing campaigns** by conversion rate.\n- **Cost per lead** for each channel.\n\n---\n## 📬 Need Help or Want to Customize This?\n📧 [rbreen@ynteractive.com](mailto:robert@ynteractive.com)  \n🔗 [LinkedIn](https://www.linkedin.com/in/robert-breen-29429625/)\n\n",
        "height": 1168,
        "width": 528
      },
      "id": "675f4a49-aa86-47f2-a6ef-6feb753e052e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 1. Set Up OpenAI Connection\n\n#### Get API Key:\n1. Go to [OpenAI Platform](https://platform.openai.com/api-keys)\n1. Go to [OpenAI Billing](https://platform.openai.com/settings/organization/billing/overview)\n2. Add funds to your billing account & copy your api key into the openAI credentials\n",
        "height": 432,
        "width": 480,
        "color": 3
      },
      "id": "e5b9721e-fbda-4d1d-85ed-5ea9ec56c521",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2. Prepare Your Google Sheet\n\n#### Connect your Data in Google Sheets\n- Data must be in a format similar to this: [Sample Marketing Data](https://docs.google.com/spreadsheets/d/1UDWt0-Z9fHqwnSNfU3vvhSoYCFG6EG3E-ZewJC_CLq4/edit?gid=365710158#gid=365710158)\n- First row contains column names\n- Data in rows 2-100\n- Log in with OAuth2 and choose your workbook and sheet\n- Optional: Try connecting to Airtable, Notion or your Database",
        "height": 320,
        "width": 512,
        "color": 3
      },
      "id": "5eb3ef7f-dc61-4505-89ef-2fb8d15c1735",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fd3cad26-e242-4da1-8797-6b541cd0b015",
      "name": "Chat with Your Data",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        784,
        432
      ],
      "webhookId": "edca0f0a-77c3-43e5-8ece-e514a29446f5",
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "a35f2c44-cd48-4c4b-9ce9-1cbea2107ef4",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1344,
        416
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "",
        "height": 432,
        "width": 512,
        "color": 7
      },
      "id": "67d40053-3f25-46f7-8e8c-0f49a84a1148",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "openai/gpt-5.4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        880,
        864
      ],
      "id": "c08a6fd9-0cb8-4883-a34b-aa8f8e5b42a0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NWBRn8S5eoP6aJ44",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.gdcd.gov.bh/services/gdcd-eservices/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1520,
        912
      ],
      "id": "461ec09d-e8a4-4c87-a204-002e41285b98",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "google_docs",
        "toolDescription": "Search and answer questions using information extracted from the company's Google Docs file. Whenever you need information about company policies or Google Docs documentation, you should ALWAYS use this tool.",
        "qdrantCollection": {
          "__rl": true,
          "value": "google_doc_knowledge",
          "mode": "list",
          "cachedResultName": "google_doc_knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1664,
        912
      ],
      "id": "c98ad42c-f259-46ef-ae74-79419d9f59ed",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "zSkDMFgtvBwGcRyK",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-ai/nomic-embed-text-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1504,
        1312
      ],
      "id": "7088755c-160b-4124-9b65-8b1281eb89d4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Qp5ZaQTMeQstpSHs",
          "name": "Fireworks OpenAI API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        1504
      ],
      "id": "f7942464-3ad1-453e-81eb-eb5febe6b444",
      "name": "When clicking 'Test Step'"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/18akF4qCs3xZUQTBrQVsXIWdo0QgKvNh9nt0kiSKo3GA/edit?usp=drive_link",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        400,
        1504
      ],
      "id": "d01603b2-6f1f-4d6a-9366-92d1766868b4",
      "name": "Google Docs",
      "credentials": {
        "googleApi": {
          "id": "fXHzExTwkxRRpEVc",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "google_doc_knowledge",
          "mode": "list",
          "cachedResultName": "google_doc_knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        800,
        1504
      ],
      "id": "b5d2e155-7d43-42d0-a67e-c77fe7a8bf30",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "zSkDMFgtvBwGcRyK",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-ai/nomic-embed-text-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        656,
        1760
      ],
      "id": "f54de022-4da7-4634-ae24-3e74837ba3f3",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Qp5ZaQTMeQstpSHs",
          "name": "Fireworks OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        1760
      ],
      "id": "f540a944-608a-41e8-962d-725f63cf9ce9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        1952
      ],
      "id": "a3a1f2fd-fb14-40b2-8db9-de1d41690574",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop through all items and extract text from paragraphs and tables\nconst contentItem = $input.item.json;\nif (!contentItem || !contentItem.body || !contentItem.body.content) {\n    return { text: \"\" };\n}\n\nconst content = contentItem.body.content\n  .reduce((arr, item) => {\n    if (item?.paragraph) {\n      const texts = item.paragraph.elements.map((element) => {\n        if (element?.textRun) {\n          return element.textRun.content;\n        }\n      });\n      arr = [...arr, ...texts];\n    } else if (item?.table) {\n      item.table.tableRows.forEach(row => {\n        row.tableCells.forEach(cell => {\n          cell.content.forEach(cellItem => {\n            if (cellItem?.paragraph) {\n              const texts = cellItem.paragraph.elements.map((element) => {\n                if (element?.textRun) {\n                  return element.textRun.content;\n                }\n              });\n              arr = [...arr, ...texts];\n            }\n          });\n        });\n      });\n    }\n    return arr;\n  }, [])\n  .filter(Boolean)\n  .join('');\n\nreturn { text: content };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        608,
        1504
      ],
      "id": "63f7de76-9bb9-48af-b7ad-2cfd68f39f95",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        112,
        2304
      ],
      "id": "v010870c-2db8-4d51-8ef7-a0183986d52e",
      "name": "Webhook",
      "webhookId": "c650680e-24e1-4723-bb92-6f37cf9adbef"
    },
    {
      "parameters": {
        "resource": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        704,
        2608
      ],
      "id": "v020870c-2db8-4d51-8ef7-a0183986d52e",
      "name": "OpenAI Transcription",
      "credentials": {
        "openAiApi": {
          "id": "op5ZaQTMeQstpSHs",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        2304
      ],
      "id": "v030870c-2db8-4d51-8ef7-a0183986d52e",
      "name": "Talk to Your Data (Voice)"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        560,
        2560
      ],
      "id": "v040870c-2db8-4d51-8ef7-a0183986d52e",
      "name": "Memory (Voice)"
    },
    {
      "parameters": {
        "resource": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        800,
        2304
      ],
      "id": "v050870c-2db8-4d51-8ef7-a0183986d52e",
      "name": "OpenAI Text-to-Speech",
      "credentials": {
        "openAiApi": {
          "id": "op5ZaQTMeQstpSHs",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "Analyze Data": {
      "ai_tool": [
        [
          {
            "node": "Talk to Your Data",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Talk to Your Data (Voice)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat with Your Data": {
      "main": [
        [
          {
            "node": "Talk to Your Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Talk to Your Data",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Talk to Your Data",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Talk to Your Data (Voice)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Talk to Your Data",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Talk to Your Data (Voice)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Talk to Your Data",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Talk to Your Data (Voice)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test Step'": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Transcription": {
      "main": [
        [
          {
            "node": "Talk to Your Data (Voice)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Talk to Your Data (Voice)": {
      "main": [
        [
          {
            "node": "OpenAI Text-to-Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory (Voice)": {
      "ai_memory": [
        [
          {
            "node": "Talk to Your Data (Voice)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d3c169a1-eeb8-43c7-8ffb-d3f957aa43e7",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-30T10:14:03.436Z",
      "createdAt": "2026-06-30T10:14:03.436Z",
      "role": "workflow:owner",
      "workflowId": "8N4Dl77CQLVHxQ3f",
      "projectId": "0YDR0chcwuZcXqmk",
      "project": {
        "updatedAt": "2026-06-15T23:11:29.897Z",
        "createdAt": "2026-06-13T11:21:41.879Z",
        "id": "0YDR0chcwuZcXqmk",
        "name": "Salem Ahmed <almannaei90@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
