workflow_mwNnYOQ8OB6jMF9C.json
{
  "updatedAt": "2026-06-30T06:32:01.755Z",
  "createdAt": "2026-06-29T21:58:35.718Z",
  "id": "mwNnYOQ8OB6jMF9C",
  "name": "n8n-standalone-v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "accounts/fireworks/models/deepseek-v4-flash",
        "options": {
          "baseURL": "https://api.fireworks.ai/inference/v1"
        }
      },
      "id": "27c642aa-c7ee-4f5c-b7db-60d15d8fc4ec",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        192,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "Qp5ZaQTMeQstpSHs",
          "name": "Fireworks OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers[\"session-id\"] }}",
        "contextWindowLength": 200
      },
      "id": "79fffc7f-1a22-4b51-a370-26e8feff114d",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        64,
        208
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "3dc1cc62-f36b-4804-96f4-75b051072238",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        208,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.guardrailsInput || $json.guardrailsInput }}",
        "options": {
          "systemMessage": "=You are Jarvis, a professional customer service voice agent representing the General Directorate of Civil Defense in the Kingdom of Bahrain (الإدارة العامة للدفاع المدني في مملكة البحرين).\\n\\n1. IDENTITY & KNOWLEDGE:\\n   - Creator: Salem Almannai designed and programmed this system (الذي أنشأ هذا النظام وصممه هو الرائد سالم المنّاعي).\\n   - Director General: The Director General is العميد ركن طيّار علي بن محمد الكبيسي.\\n   - Emergency Number: The emergency call number for civil defense is 999.\\n   - Respond only in Arabic. Be polite, accurate, and helpful.\\n   - When discussing opening hours, take into account the current date and time {{$now}}.\\n   - If you don’t have answers in your RAG tool, say that you don’t know.\\n\\n2. EMAIL TRANSCRIPT OPTION (SMTP):\\n   - If the user asks or requests to send the chat transcript to their email, inform them that the system will automatically email it to them once the call ends, and say: \\\"تم حفظ بريدك الإلكتروني بنجاح، وسنقوم بإرسال نسخة من المحادثة فور انتهاء المكالمة.\\\"\\n\\nملخص المحادثة السابقة:\\n{{ $json.body.conversationSummary || \"لا يوجد ملخص سابق بعد.\" }}"
        },
        "agent": "toolsAgent"
      },
      "id": "f367863c-f2a1-4a96-abf4-1a8eb29409a0",
      "name": "Voicebot AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.output }) }}",
        "options": {}
      },
      "id": "407bbcbf-0b3b-4396-8fe2-0b4f6d6803cc",
      "name": "Respond Text to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        544,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -224,
        0
      ],
      "typeVersion": 1.1,
      "webhookId": "264e4421-2c4e-4ae5-ac94-37f22dbe7354"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        608
      ],
      "name": "Voice Webhook",
      "id": "1c01de71-a8cb-4fee-bb16-3ab6009a57c6",
      "webhookId": "2c802d63-6ff8-43bd-928b-7be9b25e7de1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBxPb5cjtanxnU13upnSzd--Sd5T9gjn7tj8GJzeMc8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Client Name": "={{ $json.body.clientName || '' }}",
            "Phone Number": "={{ $json.body.phoneNumber || '' }}",
            "Client Email": "={{ ($json.body.clientEmail || '').replace(' [at] ', '@').replace('[at]', '@') }}",
            "Conversation ID": "={{ $json.body.conversationId || '' }}",
            "Lead Status": "New Lead"
          },
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "type": "string"
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "type": "string"
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "type": "string"
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "type": "string"
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "type": "string"
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        608
      ],
      "id": "3393c1fa-09e4-48f1-9e3b-41574df6897e",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "fXHzExTwkxRRpEVc",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        864
      ],
      "id": "webhook-post-call-id",
      "name": "Post-Call Webhook",
      "webhookId": "df473dbe-7039-4a75-85b1-af0782408724"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dBxPb5cjtanxnU13upnSzd--Sd5T9gjn7tj8GJzeMc8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Conversation ID",
              "lookupValue": "={{ $json.body.data?.conversation_id || $json.body.conversation_id || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        864
      ],
      "id": "google-sheets-lookup-id",
      "name": "Lookup Lead Email",
      "credentials": {
        "googleApi": {
          "id": "fXHzExTwkxRRpEVc",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => {\n  const email = item.json['Client Email'];\n  const hasEmail = email && typeof email === 'string' && email.includes('@');\n  const requested = item.json.sendEmailRequested === true;\n  return hasEmail && requested;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        864
      ],
      "id": "if-email-exists-id",
      "name": "Email Exists?"
    },
    {
      "parameters": {
        "fromEmail": "mnaaaei@gmail.com",
        "toEmail": "={{ $json['Client Email'] }}",
        "subject": "نسخة من محادثتك مع المساعد الذكي",
        "emailFormat": "html",
        "html": "=<h3>مرحباً {{ $json['Client Name'] }}،</h3><p>شكراً لتواصلك معنا. إليك نسخة من المحادثة التي أجريتها مع مساعدنا الذكي:</p><hr/><div style='background:#f3f4f6; padding:20px; border-radius:10px;'>{{ ($('Post-Call Webhook').item.json.body.data?.transcript || $('Post-Call Webhook').item.json.body.transcript || []).filter(t => t.message || t.original_message).map(t => '<b>' + (t.role === 'user' ? 'العميل' : 'المساعد') + ':</b> ' + (t.original_message || t.message || '')).join('<br/><br/>') }}</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        752,
        864
      ],
      "id": "email-send-id",
      "name": "Send Transcript Email",
      "webhookId": "1d1dc155-9c1c-471e-89a5-0a653c506e96",
      "credentials": {
        "smtp": {
          "id": "GKD2HE4TOKeoXDkO",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n// Find the match that has a valid email, or fall back to the last matching row\nlet lead = items.find(item => item.json['Client Email'] && item.json['Client Email'].includes('@'))?.json;\nif (!lead && items.length > 0) {\n  lead = items[items.length - 1].json;\n}\n\nconst webhookBody = $('Post-Call Webhook').first().json.body || {};\nconst transcript = webhookBody.data?.transcript || webhookBody.transcript || [];\n\n// Helper function to extract email from text\nfunction extractEmail(text) {\n  if (!text) return null;\n  let normalized = text.replace(/\\[at\\]/gi, '@').replace(/\\s+at\\s+/gi, '@');\n  normalized = normalized.replace(/\\[dot\\]/gi, '.').replace(/\\s+dot\\s+/gi, '.');\n  const emailRegex = /[a-zA-Z0-9._%+-]+\\s*@\\s*[a-zA-Z0-9.-]+\\s*\\.\\s*[a-zA-Z]{2,}/g;\n  const matches = normalized.match(emailRegex);\n  return matches && matches.length > 0 ? matches[0].replace(/\\s+/g, '') : null;\n}\n\n// Clean the email address from lead/sheet if it exists\nlet clientEmail = lead ? (lead['Client Email'] || '') : '';\nif (clientEmail) {\n  clientEmail = clientEmail.replace(/\\[at\\]/gi, '@').replace(/\\s+/g, '');\n}\n\n// Combine all transcript messages to check for spoken email and request keywords\nlet allTranscriptText = '';\nconst formatted = transcript\n  .filter(t => t.message || t.original_message)\n  .map(t => {\n    const role = t.role === 'user' ? 'العميل' : 'المساعد';\n    const msg = t.original_message || t.message || '';\n    allTranscriptText += ' ' + msg;\n    return `*${role}*: ${msg}`;\n  }).join('\\n\\n');\n\n// If email not found in sheet, try to extract from transcript\nif (!clientEmail || !clientEmail.includes('@')) {\n  const extracted = extractEmail(allTranscriptText);\n  if (extracted) {\n    clientEmail = extracted;\n  }\n}\n\n// Check if user requested to send the chat on email\nconst userMessages = transcript\n  .filter(t => t.role === 'user')\n  .map(t => (t.original_message || t.message || '').toLowerCase());\n\nconst emailKeywords = ['إيميل', 'ايميل', 'البريد', 'بريد', 'email', 'mail'];\nconst keywordRequested = userMessages.some(msg => \n  emailKeywords.some(keyword => msg.includes(keyword))\n);\nconst sendEmailRequested = keywordRequested || (clientEmail && clientEmail.includes('@'));\n\n// Clean and format phone number for WhatsApp E.164 compatibility\nlet phone = String(lead ? lead['Phone Number'] || \"\" : \"\");\nphone = phone.replace(/\\s+/g, '').replace('+', '');\n\nif (phone.length === 8 && (phone.startsWith('3') || phone.startsWith('6') || phone.startsWith('1'))) {\n  // If it's a local Bahraini mobile/landline, add the country code 973\n  phone = '973' + phone;\n}\n\nconst whatsappNumber = phone ? `whatsapp:+${phone}` : '';\n\nreturn [{\n  json: {\n    ...(lead || {}),\n    'Client Email': clientEmail,\n    whatsappNumber,\n    formattedTranscript: formatted,\n    sendEmailRequested\n  }\n}];"
      },
      "id": "format-whatsapp-payload-id",
      "name": "Format WhatsApp Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Lead details saved.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        512
      ],
      "id": "respond-to-webhook-id",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "name": "n3witalia_regreat_knowledgebase",
        "description": "Search the knowledge base for Bahrain Civil Defense services, requirements, and fees.",
        "specifyInputSchema": true,
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"The search query in Arabic.\"\n    }\n  },\n  \"required\": [\n    \"query\"\n  ]\n}",
        "jsCode": "\ntry {\n  // Extract search string from query input (supports string and object inputs)\n  let searchStr = \"\";\n  if (typeof query === 'string') {\n    searchStr = query;\n  } else if (query && typeof query === 'object') {\n    searchStr = query.query || query.input || Object.values(query)[0] || \"\";\n  }\n  \n  if (!searchStr) {\n    return \"Please specify a search query.\";\n  }\n\n  // 1. Get embedding from Fireworks API using helpers.httpRequest\n  const fireworksRes = await helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.fireworks.ai/inference/v1/embeddings\",\n    headers: {\n      \"Authorization\": \"Bearer fw_PfKLwbk8sDxVqxxS3rzqqG\",\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      model: \"accounts/fireworks/models/qwen3-embedding-8b\",\n      input: searchStr\n    },\n    json: true\n  });\n\n  const vector = fireworksRes.data[0].embedding;\n\n  // 2. Search Qdrant database using helpers.httpRequest\n  const qdrantRes = await helpers.httpRequest({\n    method: \"POST\",\n    url: \"http://localhost:6333/collections/documents/points/search\",\n    headers: {\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      vector: vector,\n      limit: 3,\n      with_payload: true\n    },\n    json: true\n  });\n\n  const hits = qdrantRes.result;\n\n  if (!hits || hits.length === 0) {\n    return \"لم يتم العثور على معلومات مطابقة في قاعدة البيانات.\";\n  }\n\n  // Combine content from all matched hits\n  return hits.map(hit => hit.payload.text || hit.payload.page_content || hit.payload.content).join(\"\\n\\n\");\n} catch (err) {\n  return \"Error in knowledgebase tool: \" + err.message;\n}\n"
      },
      "id": "4b2023c3-175d-4a8b-93e5-93f708230ca6",
      "name": "RAG",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        432,
        208
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Voicebot AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Voicebot AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Voicebot AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voicebot AI Agent": {
      "main": [
        [
          {
            "node": "Respond Text to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Voicebot AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Lead Email": {
      "main": [
        [
          {
            "node": "Format WhatsApp Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Exists?": {
      "main": [
        [
          {
            "node": "Send Transcript Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp Payload": {
      "main": [
        [
          {
            "node": "Email Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Call Webhook": {
      "main": [
        [
          {
            "node": "Lookup Lead Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG": {
      "ai_tool": [
        [
          {
            "node": "Voicebot AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
  "activeVersionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
  "versionCounter": 33,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-06-29T21:58:35.724Z",
      "createdAt": "2026-06-29T21:58:35.724Z",
      "role": "workflow:owner",
      "workflowId": "mwNnYOQ8OB6jMF9C",
      "projectId": "0YDR0chcwuZcXqmk",
      "project": {
        "updatedAt": "2026-06-15T23:11:29.897Z",
        "createdAt": "2026-06-13T11:21:41.879Z",
        "id": "0YDR0chcwuZcXqmk",
        "name": "Salem Ahmed <almannaei90@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-30T06:32:01.758Z",
    "createdAt": "2026-06-30T06:32:01.758Z",
    "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
    "workflowId": "mwNnYOQ8OB6jMF9C",
    "nodes": [
      {
        "parameters": {
          "model": "accounts/fireworks/models/deepseek-v4-flash",
          "options": {
            "baseURL": "https://api.fireworks.ai/inference/v1"
          }
        },
        "id": "27c642aa-c7ee-4f5c-b7db-60d15d8fc4ec",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          192,
          96
        ],
        "typeVersion": 1,
        "credentials": {
          "openAiApi": {
            "id": "Qp5ZaQTMeQstpSHs",
            "name": "Fireworks OpenAI API"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.headers[\"session-id\"] }}",
          "contextWindowLength": 200
        },
        "id": "79fffc7f-1a22-4b51-a370-26e8feff114d",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          64,
          208
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {},
        "id": "3dc1cc62-f36b-4804-96f4-75b051072238",
        "name": "Calculator",
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "position": [
          208,
          208
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.guardrailsInput || $json.guardrailsInput }}",
          "options": {
            "systemMessage": "=You are Jarvis, a professional customer service voice agent representing the General Directorate of Civil Defense in the Kingdom of Bahrain (الإدارة العامة للدفاع المدني في مملكة البحرين).\\n\\n1. IDENTITY & KNOWLEDGE:\\n   - Creator: Salem Almannai designed and programmed this system (الذي أنشأ هذا النظام وصممه هو الرائد سالم المنّاعي).\\n   - Director General: The Director General is العميد ركن طيّار علي بن محمد الكبيسي.\\n   - Emergency Number: The emergency call number for civil defense is 999.\\n   - Respond only in Arabic. Be polite, accurate, and helpful.\\n   - When discussing opening hours, take into account the current date and time {{$now}}.\\n   - If you don’t have answers in your RAG tool, say that you don’t know.\\n\\n2. EMAIL TRANSCRIPT OPTION (SMTP):\\n   - If the user asks or requests to send the chat transcript to their email, inform them that the system will automatically email it to them once the call ends, and say: \\\"تم حفظ بريدك الإلكتروني بنجاح، وسنقوم بإرسال نسخة من المحادثة فور انتهاء المكالمة.\\\"\\n\\nملخص المحادثة السابقة:\\n{{ $json.body.conversationSummary || \"لا يوجد ملخص سابق بعد.\" }}"
          },
          "agent": "toolsAgent"
        },
        "id": "f367863c-f2a1-4a96-abf4-1a8eb29409a0",
        "name": "Voicebot AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          0,
          0
        ],
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ text: $json.output }) }}",
          "options": {}
        },
        "id": "407bbcbf-0b3b-4396-8fe2-0b4f6d6803cc",
        "name": "Respond Text to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          544,
          0
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice-chat",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger-node-id",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -224,
          0
        ],
        "typeVersion": 1.1,
        "webhookId": "264e4421-2c4e-4ae5-ac94-37f22dbe7354"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "leads",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          0,
          608
        ],
        "name": "Voice Webhook",
        "id": "1c01de71-a8cb-4fee-bb16-3ab6009a57c6",
        "webhookId": "2c802d63-6ff8-43bd-928b-7be9b25e7de1"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1dBxPb5cjtanxnU13upnSzd--Sd5T9gjn7tj8GJzeMc8/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "Sheet1",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Timestamp": "={{ $now }}",
              "Client Name": "={{ $json.body.clientName || '' }}",
              "Phone Number": "={{ $json.body.phoneNumber || '' }}",
              "Client Email": "={{ ($json.body.clientEmail || '').replace(' [at] ', '@').replace('[at]', '@') }}",
              "Conversation ID": "={{ $json.body.conversationId || '' }}",
              "Lead Status": "New Lead"
            },
            "schema": [
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "type": "string"
              },
              {
                "id": "Client Name",
                "displayName": "Client Name",
                "type": "string"
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "type": "string"
              },
              {
                "id": "Client Email",
                "displayName": "Client Email",
                "type": "string"
              },
              {
                "id": "Conversation ID",
                "displayName": "Conversation ID",
                "type": "string"
              },
              {
                "id": "Lead Status",
                "displayName": "Lead Status",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          256,
          608
        ],
        "id": "3393c1fa-09e4-48f1-9e3b-41574df6897e",
        "name": "Google Sheets",
        "credentials": {
          "googleApi": {
            "id": "fXHzExTwkxRRpEVc",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "post-call",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          0,
          864
        ],
        "id": "webhook-post-call-id",
        "name": "Post-Call Webhook",
        "webhookId": "df473dbe-7039-4a75-85b1-af0782408724"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1dBxPb5cjtanxnU13upnSzd--Sd5T9gjn7tj8GJzeMc8/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "Sheet1",
            "mode": "name"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Conversation ID",
                "lookupValue": "={{ $json.body.data?.conversation_id || $json.body.conversation_id || '' }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          256,
          864
        ],
        "id": "google-sheets-lookup-id",
        "name": "Lookup Lead Email",
        "credentials": {
          "googleApi": {
            "id": "fXHzExTwkxRRpEVc",
            "name": "Google Sheets account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().filter(item => {\n  const email = item.json['Client Email'];\n  const hasEmail = email && typeof email === 'string' && email.includes('@');\n  const requested = item.json.sendEmailRequested === true;\n  return hasEmail && requested;\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          864
        ],
        "id": "if-email-exists-id",
        "name": "Email Exists?"
      },
      {
        "parameters": {
          "fromEmail": "mnaaaei@gmail.com",
          "toEmail": "={{ $json['Client Email'] }}",
          "subject": "نسخة من محادثتك مع المساعد الذكي",
          "emailFormat": "html",
          "html": "=<h3>مرحباً {{ $json['Client Name'] }}،</h3><p>شكراً لتواصلك معنا. إليك نسخة من المحادثة التي أجريتها مع مساعدنا الذكي:</p><hr/><div style='background:#f3f4f6; padding:20px; border-radius:10px;'>{{ ($('Post-Call Webhook').item.json.body.data?.transcript || $('Post-Call Webhook').item.json.body.transcript || []).filter(t => t.message || t.original_message).map(t => '<b>' + (t.role === 'user' ? 'العميل' : 'المساعد') + ':</b> ' + (t.original_message || t.message || '')).join('<br/><br/>') }}</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          752,
          864
        ],
        "id": "email-send-id",
        "name": "Send Transcript Email",
        "webhookId": "1d1dc155-9c1c-471e-89a5-0a653c506e96",
        "credentials": {
          "smtp": {
            "id": "GKD2HE4TOKeoXDkO",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n// Find the match that has a valid email, or fall back to the last matching row\nlet lead = items.find(item => item.json['Client Email'] && item.json['Client Email'].includes('@'))?.json;\nif (!lead && items.length > 0) {\n  lead = items[items.length - 1].json;\n}\n\nconst webhookBody = $('Post-Call Webhook').first().json.body || {};\nconst transcript = webhookBody.data?.transcript || webhookBody.transcript || [];\n\n// Helper function to extract email from text\nfunction extractEmail(text) {\n  if (!text) return null;\n  let normalized = text.replace(/\\[at\\]/gi, '@').replace(/\\s+at\\s+/gi, '@');\n  normalized = normalized.replace(/\\[dot\\]/gi, '.').replace(/\\s+dot\\s+/gi, '.');\n  const emailRegex = /[a-zA-Z0-9._%+-]+\\s*@\\s*[a-zA-Z0-9.-]+\\s*\\.\\s*[a-zA-Z]{2,}/g;\n  const matches = normalized.match(emailRegex);\n  return matches && matches.length > 0 ? matches[0].replace(/\\s+/g, '') : null;\n}\n\n// Clean the email address from lead/sheet if it exists\nlet clientEmail = lead ? (lead['Client Email'] || '') : '';\nif (clientEmail) {\n  clientEmail = clientEmail.replace(/\\[at\\]/gi, '@').replace(/\\s+/g, '');\n}\n\n// Combine all transcript messages to check for spoken email and request keywords\nlet allTranscriptText = '';\nconst formatted = transcript\n  .filter(t => t.message || t.original_message)\n  .map(t => {\n    const role = t.role === 'user' ? 'العميل' : 'المساعد';\n    const msg = t.original_message || t.message || '';\n    allTranscriptText += ' ' + msg;\n    return `*${role}*: ${msg}`;\n  }).join('\\n\\n');\n\n// If email not found in sheet, try to extract from transcript\nif (!clientEmail || !clientEmail.includes('@')) {\n  const extracted = extractEmail(allTranscriptText);\n  if (extracted) {\n    clientEmail = extracted;\n  }\n}\n\n// Check if user requested to send the chat on email\nconst userMessages = transcript\n  .filter(t => t.role === 'user')\n  .map(t => (t.original_message || t.message || '').toLowerCase());\n\nconst emailKeywords = ['إيميل', 'ايميل', 'البريد', 'بريد', 'email', 'mail'];\nconst keywordRequested = userMessages.some(msg => \n  emailKeywords.some(keyword => msg.includes(keyword))\n);\nconst sendEmailRequested = keywordRequested || (clientEmail && clientEmail.includes('@'));\n\n// Clean and format phone number for WhatsApp E.164 compatibility\nlet phone = String(lead ? lead['Phone Number'] || \"\" : \"\");\nphone = phone.replace(/\\s+/g, '').replace('+', '');\n\nif (phone.length === 8 && (phone.startsWith('3') || phone.startsWith('6') || phone.startsWith('1'))) {\n  // If it's a local Bahraini mobile/landline, add the country code 973\n  phone = '973' + phone;\n}\n\nconst whatsappNumber = phone ? `whatsapp:+${phone}` : '';\n\nreturn [{\n  json: {\n    ...(lead || {}),\n    'Client Email': clientEmail,\n    whatsappNumber,\n    formattedTranscript: formatted,\n    sendEmailRequested\n  }\n}];"
        },
        "id": "format-whatsapp-payload-id",
        "name": "Format WhatsApp Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          1008
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Lead details saved.\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          128,
          512
        ],
        "id": "respond-to-webhook-id",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "name": "n3witalia_regreat_knowledgebase",
          "description": "Search the knowledge base for Bahrain Civil Defense services, requirements, and fees.",
          "specifyInputSchema": true,
          "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"query\": {\n      \"type\": \"string\",\n      \"description\": \"The search query in Arabic.\"\n    }\n  },\n  \"required\": [\n    \"query\"\n  ]\n}",
          "jsCode": "\ntry {\n  // Extract search string from query input (supports string and object inputs)\n  let searchStr = \"\";\n  if (typeof query === 'string') {\n    searchStr = query;\n  } else if (query && typeof query === 'object') {\n    searchStr = query.query || query.input || Object.values(query)[0] || \"\";\n  }\n  \n  if (!searchStr) {\n    return \"Please specify a search query.\";\n  }\n\n  // 1. Get embedding from Fireworks API using helpers.httpRequest\n  const fireworksRes = await helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.fireworks.ai/inference/v1/embeddings\",\n    headers: {\n      \"Authorization\": \"Bearer fw_PfKLwbk8sDxVqxxS3rzqqG\",\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      model: \"accounts/fireworks/models/qwen3-embedding-8b\",\n      input: searchStr\n    },\n    json: true\n  });\n\n  const vector = fireworksRes.data[0].embedding;\n\n  // 2. Search Qdrant database using helpers.httpRequest\n  const qdrantRes = await helpers.httpRequest({\n    method: \"POST\",\n    url: \"http://localhost:6333/collections/documents/points/search\",\n    headers: {\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      vector: vector,\n      limit: 3,\n      with_payload: true\n    },\n    json: true\n  });\n\n  const hits = qdrantRes.result;\n\n  if (!hits || hits.length === 0) {\n    return \"لم يتم العثور على معلومات مطابقة في قاعدة البيانات.\";\n  }\n\n  // Combine content from all matched hits\n  return hits.map(hit => hit.payload.text || hit.payload.page_content || hit.payload.content).join(\"\\n\\n\");\n} catch (err) {\n  return \"Error in knowledgebase tool: \" + err.message;\n}\n"
        },
        "id": "4b2023c3-175d-4a8b-93e5-93f708230ca6",
        "name": "RAG",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.2,
        "position": [
          432,
          208
        ]
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Voicebot AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "Voicebot AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "Voicebot AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Voicebot AI Agent": {
        "main": [
          [
            {
              "node": "Respond Text to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Voicebot AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Lead Email": {
        "main": [
          [
            {
              "node": "Format WhatsApp Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Exists?": {
        "main": [
          [
            {
              "node": "Send Transcript Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format WhatsApp Payload": {
        "main": [
          [
            {
              "node": "Email Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Voice Webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post-Call Webhook": {
        "main": [
          [
            {
              "node": "Lookup Lead Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RAG": {
        "ai_tool": [
          [
            {
              "node": "Voicebot AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Salem Ahmed",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-30T06:32:01.843Z",
        "id": 267,
        "workflowId": "mwNnYOQ8OB6jMF9C",
        "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
        "event": "activated",
        "userId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      },
      {
        "createdAt": "2026-06-30T06:32:01.965Z",
        "id": 269,
        "workflowId": "mwNnYOQ8OB6jMF9C",
        "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
        "event": "activated",
        "userId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      },
      {
        "createdAt": "2026-06-30T06:32:01.818Z",
        "id": 266,
        "workflowId": "mwNnYOQ8OB6jMF9C",
        "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
        "event": "deactivated",
        "userId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      },
      {
        "createdAt": "2026-06-30T06:32:01.942Z",
        "id": 268,
        "workflowId": "mwNnYOQ8OB6jMF9C",
        "versionId": "9cb8fe54-70ba-4312-b8d6-56a4b939495d",
        "event": "deactivated",
        "userId": "607a0526-257f-48a0-bce6-3462762ff6b2"
      }
    ]
  }
}
